.Layout {
  background: #FFB6C1;
    background-color: #FFB6C1;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      background-color: 	#FF69B4;
  
      span {
        a {
          font-size: 1.6rem;
          font-weight: bold;
          color: white;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
        button {
          color: #FF69B4;
          background-color: white;
        }
      }
    }
  
    main {
        max-width: 700px;
        margin: 0 auto;
        padding: 24px;
    }
  }
  